* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  margin-left: -50rem;
}

h2 {
  padding-top: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.principal {
  background-color: #800080;
  color: white;
  height: 55.45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carnaval {
  background-color: #efb41c;
  width: 15rem;
  height: 20rem;
  color: #ed2e2e;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.state-carnaval {
  display: flex;
  flex-wrap: wrap;
  width: 60rem;
  gap: 3rem;
  margin-top: 2rem;
}

img {
  width: 7rem;
}
